<html>
    {% load staticfiles %}
    <head>
        <title>Delete a course</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'courses_app/css/styles.css' %}">
    </head>
    <body>
        <div class="delete-page-container">
            <h2>Are you sure you want to delete the following course?</h2>
            <!-- Output each key's value in the query-->
            {% for row in query %}
                <h3>Name: {{row.name}}</h3>
                <h3>Description: {{row.desc}}</h3>
                <a class="btn btn-primary btn-lg" href="/" role="button">No</a>
                <a class="btn btn-danger btn-lg" href="/courses/process/destroy/{{row.id}}" role="button">Yes! I want to delete this</a>
            {% endfor %}
        </div>
    </body>
</html>